
<!-- 
<div class="verticalLine">
  some other content
</div>
<div class="verticalLine">
  some other content
</div>
<div class="verticalLine">
  some other content
</div> -->


<h2 style="text-align: center;">Percentage Of ADB's Committed Operation Supporting Each Strategy 2030 Priority</h2>
<div class="chartP">
  <div class="pie" [hidden]="!chart">
    <div class="verticalLine">
    <b style="color:orange">PRIORITY 1</b>
    <p>Addresing Remaining Poverty </p><br><br><br><br><br> <br><br><br><br><br>
    <img style="width: 80px; height: 80px;" src="../assets/image/op1_color.png" alt="">
    </div>
     <canvas id="canvas1"></canvas>
    </div>
 
  
    <div class="pie " [hidden]="!chart">
      <div class="verticalLine">
      <b style="color:rgb(118, 184, 20)">PRIORITY 2</b>
      <p>Accelerating Progress in Gender Equality</p><br><br><br><br><br> <br><br><br><br><br>
      <img style="width: 80px; height: 80px;" src="../assets/image/op2_color.png" alt="">
      </div>
      <canvas id="canvas2"></canvas>
    </div>
  
    <div class="pie" [hidden]="!chart">
      <div class="verticalLine">
      <b style="color: rgb(46, 243, 177);">PRIORITY 3</b>
      <p>Promoting Rural Development</p><br><br><br><br><br> <br><br><br><br><br>
      <img style="width: 80px; height: 80px;" src="../assets/image/op3_color.png" alt="">
      </div>
      <canvas id="canvas3"></canvas>
    </div>
  
    <div class="pie" [hidden]="!chart">
      <div class="verticalLine">
      <b style="color: rgb(196, 196, 19)"> PRIORITY 4</b>
      <p>Making Cities More Livable</p><br><br><br><br><br> <br><br><br><br><br>
      <img style="width: 80px; height: 80px;" src="../assets/image/op4_color.png" alt="">
      </div>
      <canvas id="canvas4"></canvas>
    </div>
    <!-- <div class="pie" [hidden]="!chart">
      
      <canvas id="canvas5"></canvas>
    </div>
    <div class="pie" [hidden]="!chart">
      <canvas id="canvas6"></canvas>
    </div>
  
    <div class="pie" [hidden]="!chart">
      <canvas id="canvas7"></canvas>
    </div> -->
  </div>