.chartP
{
    display: flex;
    flex-direction: row;
    padding-top: 10%;
    position: relative;
    border-style: solid;
    border-color: orange;

}

.vl {
    border-left: 6px solid rgb(255, 152, 67);
   
    position: absolute;
    top: 0;
  }

  .verticalLine {
    position:relative; 
    left:150px; 
    height: 1150px;
    top:38px;
    height: 350px;
    border-left: 3px solid #000000;
    
  }
  .pie{
      position: relative;
      bottom: 58px;
  }